<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title>Car2Go Kostenrechner</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-i18n/1.2.15/angular-locale_de-de.js"></script>
    <script src="app.js"></script>
</head>
<body>

<div ng-controller="c2gController">

    <p>Carsharing mit <span>{{ vendor }}</span>!</p>

    <p>Strecke</p>
    <input type="number" ng-init="updateprice()" ng-change="updateprice()" ng-model="km"/> Km
    <p>Zeit</p>
    <input type="number" ng-init="updateprice()" ng-change="updateprice()" ng-model="time"/> Minuten
    <p>Zeit stehend</p>
    <input type="number" ng-init="updateprice()" ng-change="updateprice()" ng-model="time_standing"/> Minuten
    <p></p>
	Flughafenpauschale: <input type="checkbox" ng-change="updateprice()" ng-model="airport">
    <p>Kosten</p>
    {{ price | currency}}

    <p>Debug</p>
    {{ debug }}


</div>
</body>
</html>