<div class="form-group">
	<div class="input-group">
		<input type="number" class="form-control" placeholder="Strecke" aria-describedby="basic-addon2" ng-model="distance">
		<span class="input-group-addon" id="basic-addon2">Km</span>
	</div>
</div>

<div class="form-group">
	<div class="input-group">
		<input type="number" class="form-control" placeholder="Zeit" aria-describedby="basic-addon2" ng-model="time">
		<span class="input-group-addon" id="basic-addon2">Minuten</span>
	</div>
</div>

<div class="form-group">
	<div class="input-group">
		<input type="number" class="form-control" placeholder="Zeit stehend" aria-describedby="basic-addon2" ng-model="time_standing">
		<span class="input-group-addon" id="basic-addon2">Minuten (Stehend)</span>
	</div>
</div>

<div class="form-group">
	<div class="input-group">
		<div class="checkbox">
			<label><input type="checkbox" ng-model="airport">Flughafenpauschale</label>
		</div>
	</div>
</div>

<h1><span>{{ price(distance, time, time_standing, airport) | currency }}</span></h1>

<p>Preis im Detail:<p>
	<b>Zeit</b><br>
	<span>{{ getDays(time) }}</span> Tage a <span>{{ fee_day | currency }}</span> = <span>{{ getFeeDays(time) | currency }}</span><br>
	<span>{{ getHours(time) }}</span> Stunden a <span>{{ fee_hour | currency }}</span> = <span>{{ getFeeHours(time) | currency }}</span><br>
	<span>{{ getMinutes(time) }}</span> Minuten a <span>{{ fee_minute | currency }}</span> = <span>{{ getFeeMinutes(time) | currency }}</span><br>

	<b>Distanz</b><br>
	<span>{{ getFreeKm( time) }}</span> Freikilometer<br>
	<span><span>{{ getAdditionalKm(distance, time) }}</span></span> km a <span>{{ fee_additionalkm | currency }}</span> Zusätzlicher Kilometer Preis = <span>{{ getFee_additionalKm(distance, time) | currency }}</span> Kilometer Preis<br>

	<b>Sonstiges</b><br>
	<span>{{ getFeeStanding(time_standing) | currency }}</span> Zeit stehend<br>
	<span>{{ getFeeAirport(airport) | currency }}</span> Flughafenpauschale<br>
