<div class="form-group">
    <div class="input-group">
      <input type="number" class="form-control" placeholder="Strecke" aria-describedby="basic-addon2" ng-model="distance">
      <span class="input-group-addon" id="basic-addon2">Km</span>
  </div>
</div>

<div class="form-group">
    <div class="input-group">
      <input type="number" class="form-control" placeholder="Zeit" aria-describedby="basic-addon2" ng-model="time">
      <span class="input-group-addon" id="basic-addon2">Minuten</span>
  </div>
</div>

<div class="form-group">
    <div class="input-group">
        <div class="checkbox">
          <label><input type="checkbox" ng-model="airport">Flughafenpauschale</label>
        </div>
    </div>
</div>

<h1>{{ price(distance, time, time_standing, airport) | currency }}</h1>

<p>Preis im Detail:</p>
<b>Zeit</b><br>
{{ getDays(time) }} Tage a {{ fee_day | currency }} = {{ getFeeDays(time) | currency }}<br>
{{ getHours(time) }} Stunden a {{ fee_hour | currency }} = {{ getFeeHours(time) | currency }}<br>

<b>Distanz</b><br>
{{ getFreeKm( time) }} Freikilometer<br>
{{ getAdditionalKm(distance, time) }} km a {{ fee_additionalkm | currency }} Zusätzlicher Kilometer Preis = {{ getFee_additionalKm(distance, time) | currency }} Kilometer Preis<br>

<b>Sonstiges</b><br>
{{ getFeeAirport(airport) | currency }} Flughafenpauschale<br>
