<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<title>Carsharing Rechner</title>
	
	<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="main.css"/>

	<script src="bower_components/angular/angular.min.js"></script>
	<script src="bower_components/angular-route/angular-route.min.js"></script>
	<script src="bower_components/angular-i18n/angular-locale_de-de.js"></script>
	<script src="bower_components/moment/moment.js"></script>
	<script src="bower_components/angular-moment/angular-moment.js"></script>

	<script src="app.js"></script>
</head>
<body class="container">

	<div class="page-header">
		Carsharing Rechner
	</div>

	<section ng-controller="TabController">
		<ul class="nav nav-pills nav-justified">
			<li ng-class="{ active:isSet(1) }">
				<a href="#/c2g" ng-click="setTab(1)">Car2go</a>
			</li>
			<li ng-class="{ active:isSet(2) }">
				<a href="#/c2gb" ng-click="setTab(2)">Car2goBlack</a>
			</li>
			<li ng-class="{ active:isSet(3) }">
				<a href="#/sm" ng-click="setTab(3)">Stadtmobil</a>
			</li>
		</ul>
	</section>

	<div ng-view></div>

</body>
</html>